body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 防止滾動條出現 */
  background-color: #000;
  font-family: Arial, sans-serif;
  /* box-sizing: border-box; */
}

.game-viewport {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- 通用樣式 --- */
.page-container {
  width: 1920px;
  height: 1080px;
  position: relative;
  background-size: cover;
  background-position: center;
  transform-origin: top left;
  color: #000000;
}

.image-button{
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* --- 起始頁面 --- */
.start-page-title {
  position: absolute;
  top: 17%;
  left: 50%;
  font-size: 180px;
  transform: translate(-50%, -50%);
  font-weight:900;
}

.start-button-center {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start-button-text{
  position: absolute; 
  top:45%;
  left:50%;
  font-size: 50px;
  font-weight:800;
  transform: translate(-50%,-50%);
  color:#000;
}

/* --- 說明頁面 --- */
.sticker-text{
  position: absolute;
  top: 29%;
  left: 50%;
  font-size: 60px;
  font-weight:800;
  transform: translate(-50%,-50%);
}

.instructions-text{
  max-width: 850px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  font-size: 38px;
  font-weight: 500;
  transform: translate(-50%,-50%);
  line-height: 1.2;
  text-align: center;
}

.continue-button{
  position: absolute;
  bottom: 22%;
  right: 19%;
}

.loop-animation {
  animation: buttonLoop 2s ease-in-out infinite alternate;
  transform-origin: center;
}

@keyframes buttonLoop {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(50px);
  }
}

/* --- 遊戲頁面 --- */
.sectionHidden{
  display: none;
}

.dice-section{
  position: absolute;
  top: 37%;
  left: 44.5%;
  text-align: center;
}

.dice-face {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 180px;
  height: 180px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 15px rgba(0,0,0,0.1), 5px 5px 15px rgba(0,0,0,0.2);
}

.dice-dots {
  display: grid;
  grid-template-areas:
      "a . b"
      "c d e"
      "f . g";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 120px;
  height: 120px;
  gap: 15px;
}

.dot {
  width: 30px;
  height: 30px;
  background-color: #000;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
}

/* 具體點位的邏輯 */
.dice-value-1 .dot { grid-area: d; } /* 中間 */

.dice-value-2 .dot:nth-child(1) { grid-area: a; }
.dice-value-2 .dot:nth-child(2) { grid-area: g; }

.dice-value-3 .dot:nth-child(1) { grid-area: a; }
.dice-value-3 .dot:nth-child(2) { grid-area: d; }
.dice-value-3 .dot:nth-child(3) { grid-area: g; }

.dice-value-4 .dot:nth-child(1) { grid-area: a; }
.dice-value-4 .dot:nth-child(2) { grid-area: b; }
.dice-value-4 .dot:nth-child(3) { grid-area: f; }
.dice-value-4 .dot:nth-child(4) { grid-area: g; }

.dice-value-5 .dot:nth-child(1) { grid-area: a; }
.dice-value-5 .dot:nth-child(2) { grid-area: b; }
.dice-value-5 .dot:nth-child(3) { grid-area: d; }
.dice-value-5 .dot:nth-child(4) { grid-area: f; }
.dice-value-5 .dot:nth-child(5) { grid-area: g; }

.dice-value-6 .dot:nth-child(1) { grid-area: a; }
.dice-value-6 .dot:nth-child(2) { grid-area: b; }
.dice-value-6 .dot:nth-child(3) { grid-area: c; }
.dice-value-6 .dot:nth-child(4) { grid-area: e; }
.dice-value-6 .dot:nth-child(5) { grid-area: f; }
.dice-value-6 .dot:nth-child(6) { grid-area: g; }

.question-section{
  position: absolute;
  top:29%;
  left: 31.5%;
  text-align: center;
}
.question-text{
  font-size: 34px;
  font-weight: 700;
  position: absolute;
  top:4px;
  left:50%;
  transform: translateX(-50%);
}
.question-content-text{
  font-size: clamp(18px, 2vw, 48px);
  font-weight: 500;
  position: absolute;
  top:60px;
  left:50%;
  transform: translateX(-50%);
  width: 600px;
}

.answer-section{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}
.answer-section button{
  margin-bottom: 10px;
}
.answer-text{
  width: 500px;
  font-size: clamp(18px, 2vw, 48px);
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.answer-image-button{
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.answer-image-button:hover:not(:disabled) {
    transform: scale(1.1) !important;
}
.answer-image-button:disabled {
    color:#000;
}

.card-section{
  position: absolute;
  top:29%;
  left: 36%;
}
.arrow-direction{
  transform: rotate(180deg);
}
.player-pieces-container-1{
  position: absolute;
  top:-430%;
  left:24%;
}
.player-pieces-container-with-questions{
  position: absolute;
  top:-230%;
  left:24%;
}
.player-pieces-container-with-img-5{
  position: absolute;
  top:-80%;
  left:-20%;
}
.player-pieces-container-with-img-12{
  position: absolute;
  top:-50%;
  left:15%;
}
.player-pieces-container-with-img-19{
  position: absolute;
  top:-80%;
  left:-20%;
}
.player-pieces.is-current::before {
  content: '▼';
  position: absolute;
  top: -30px; 
  left: 50%;
  transform: translateX(-50%);
  color: #E63B3B;
  font-size: 35px; 
  z-index: 99;
  animation: arrowBounce 1s infinite alternate;
}
@keyframes arrowBounce {
  from { transform: translateX(-50%) translateY(0); }
  to { transform: translateX(-50%) translateY(-10px); }
}
.player-pieces.piece-1{
  position: absolute;
  top:65px;
  left:-15px;
}
.player-pieces.piece-2{
  position: absolute;
  top:65px;
  left:45px;
}
.player-pieces.piece-3{
  position: absolute;
  top:115px;
  left:-45px;
}
.player-pieces.piece-4{
  position: absolute;
  top:115px;
  left:15px;
}
.player-pieces.piece-5{
  position: absolute;
  top:115px;
  left:70px;
}
.step-1{
  position: absolute;
  top:83%;
  left: 6.3%;
}
.step-2{
  position: absolute;
  top:77.6%;
  left: 15.8%;
  font-size: 36px;
  font-weight: 700;
}
.step-3{
  position: absolute;
  top:77.6%;
  left: 25.8%;
  font-size: 36px;
  font-weight: 700;
}
.step-4{
  position: absolute;
  top:77.6%;
  left: 35.6%;
  font-size: 36px;
  font-weight: 700;
}
.step-5{
  position: absolute;
  top:76%;
  left: 48.5%;
}
.step-6{
  position: absolute;
  top:77.6%;
  left: 55.5%;
  font-size: 36px;
  font-weight: 700;
}
.step-7{
  position: absolute;
  top:77.6%;
  left: 65.5%;
  font-size: 36px;
  font-weight: 700;
}
.step-8{
  position: absolute;
  top:77.6%;
  left: 75.3%;
  font-size: 36px;
  font-weight: 700;
}
.step-9{
  position: absolute;
  top:77.6%;
  left: 85%;
  font-size: 36px;
  font-weight: 700;
}
.step-10{
  position: absolute;
  top:60.9%;
  left: 85%;
  font-size: 36px;
  font-weight: 700;
}
.step-11{
  position: absolute;
  top:44.2%;
  left: 85%;
  font-size: 36px;
  font-weight: 700;
}
.step-12{
  position: absolute;
  top:24%;
  left: 86%;
}
.step-13{
  position: absolute;
  top:10%;
  left: 85%;
  font-size: 36px;
  font-weight: 700;
}
.step-14{
  position: absolute;
  top:10%;
  left:75.4%;
  font-size: 36px;
  font-weight: 700;
}
.step-15{
  position: absolute;
  top:10%;
  left: 65.5%;
  font-size: 36px;
  font-weight: 700;
}
.step-16{
  position: absolute;
  top:10%;
  left: 55.5%;
  font-size: 36px;
  font-weight: 700;
}
.step-17{
  position: absolute;
  top:10%;
  left: 45.6%;
  font-size: 36px;
  font-weight: 700;
}
.step-18{
  position: absolute;
  top:10%;
  left: 35.6%;
  font-size: 36px;
  font-weight: 700;
}
.step-19{
  position: absolute;
  top:8%;
  left: 28.3%;
}
.step-20{
  position: absolute;
  top:10%;
  left: 15.7%;
  font-size: 36px;
  font-weight: 700;
}
.step-21{
  position: absolute;
  top:10%;
  left: 5.9%;
  font-size: 36px;
  font-weight: 700;
}
.step-22{
  position: absolute;
  top:26.9%;
  left: 5.9%;
  font-size: 36px;
  font-weight: 700;
}
.step-23{
  position: absolute;
  top:44.2%;
  left:5.9%;
  font-size: 36px;
  font-weight: 700;
}
.step-23{
  position: absolute;
  top:44.2%;
  left:5.9%;
  font-size: 36px;
  font-weight: 700;
}
.step-24{
  position: absolute;
  top:60.8%;
  left:5.9%;
  font-size: 36px;
  font-weight: 700;
}

/* --- 最後頁面 --- */
.won-player-1{
  position: absolute;
  top:2%;
  left: 47%;
  transform: translateX(-50%);
}
.won-player-2{
  position: absolute;
  top:5%;
  left: 48%;
  transform: translateX(-50%);
}
.won-player-3{
  position: absolute;
  top:0%;
  left: 48%;
  transform: translateX(-50%);
}
.won-player-4{
  position: absolute;
  top:1%;
  left: 48%;
  transform: translateX(-50%);
}
.won-player-5{
  position: absolute;
  top:-3%;
  left: 48%;
  transform: translateX(-50%);
}
/* .won-player{
  position: absolute;
  top:-3%;
  left: 48%;
  transform: translateX(-50%);
} */
.congratulation-text{
  position: absolute;
  top:10%;
  left: 35%;
  font-size: 120px;
  font-weight: 700;
  z-index: 4;
}
.button-container{
  display: flex;
  justify-content: space-between;
  width: 270px;
  position: absolute;
  top:25%;
  left: 42%;
}

