body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 防止滾動條出現 */
  background-color: #000;
  font-family: Arial, sans-serif;
  /* box-sizing: border-box; */
}

.game-viewport {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- 通用樣式 --- */
.page-container {
  width: 1920px;
  height: 1080px;
  position: relative;
  background-size: cover;
  background-position: center;
  transform-origin: top left;
  color: #000000;
}

.image-button{
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* --- 起始頁面 --- */
.start-page-title {
  position: absolute;
  top: 17%;
  left: 50%;
  font-size: 180px;
  transform: translate(-50%, -50%);
  font-weight:900;
}

.start-button-center {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.start-button-center:hover {
  transform: translate(-50%, -50%) scale(1.1);
}
.start-button-center:active {
  transform: translate(-50%, -50%) scale(0.9);
}

.start-button-text{
  position: absolute; 
  top:45%;
  left:50%;
  font-size: 50px;
  font-weight:800;
  transform: translate(-50%,-50%);
  color:#000;
}

/* --- 說明頁面 --- */
.sticker-text{
  position: absolute;
  top: 29%;
  left: 50%;
  font-size: 60px;
  font-weight:800;
  transform: translate(-50%,-50%);
}

.instructions-text{
  max-width: 850px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  font-size: 38px;
  font-weight: 500;
  transform: translate(-50%,-50%);
  line-height: 1.2;
  text-align: center;
}

.continue-button{
  position: absolute;
  bottom: 22%;
  right: 19%;
}

.loop-animation {
  animation: buttonLoop 2s ease-in-out infinite alternate;
  transform-origin: center;
}

@keyframes buttonLoop {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(50px);
  }
}

/* --- 遊戲頁面 --- */
.arrow-direction{
  transform: rotate(180deg);
}
.step-1{
  position: absolute;
  top:83%;
  left: 6.3%;
}
.step-2{
  position: absolute;
  top:77.6%;
  left: 15.8%;
  font-size: 36px;
  font-weight: 700;
}
.step-3{
  position: absolute;
  top:77.6%;
  left: 25.8%;
  font-size: 36px;
  font-weight: 700;
}
.step-4{
  position: absolute;
  top:77.6%;
  left: 35.6%;
  font-size: 36px;
  font-weight: 700;
}
.step-5{
  position: absolute;
  top:76%;
  left: 48.5%;
}
.step-6{
  position: absolute;
  top:77.6%;
  left: 55.5%;
  font-size: 36px;
  font-weight: 700;
}
.step-7{
  position: absolute;
  top:77.6%;
  left: 65.5%;
  font-size: 36px;
  font-weight: 700;
}
.step-8{
  position: absolute;
  top:77.6%;
  left: 75.3%;
  font-size: 36px;
  font-weight: 700;
}
.step-9{
  position: absolute;
  top:77.6%;
  left: 85%;
  font-size: 36px;
  font-weight: 700;
}
.step-10{
  position: absolute;
  top:60.9%;
  left: 85%;
  font-size: 36px;
  font-weight: 700;
}
.step-11{
  position: absolute;
  top:44.2%;
  left: 85%;
  font-size: 36px;
  font-weight: 700;
}
.step-12{
  position: absolute;
  top:24%;
  left: 86%;
}
.step-13{
  position: absolute;
  top:10%;
  left: 85%;
  font-size: 36px;
  font-weight: 700;
}
.step-14{
  position: absolute;
  top:10%;
  left:75.4%;
  font-size: 36px;
  font-weight: 700;
}
.step-15{
  position: absolute;
  top:10%;
  left: 65.5%;
  font-size: 36px;
  font-weight: 700;
}
.step-16{
  position: absolute;
  top:10%;
  left: 55.5%;
  font-size: 36px;
  font-weight: 700;
}
.step-17{
  position: absolute;
  top:10%;
  left: 45.6%;
  font-size: 36px;
  font-weight: 700;
}
.step-18{
  position: absolute;
  top:10%;
  left: 35.6%;
  font-size: 36px;
  font-weight: 700;
}
.step-19{
  position: absolute;
  top:8%;
  left: 28.3%;
}
.step-20{
  position: absolute;
  top:10%;
  left: 15.7%;
  font-size: 36px;
  font-weight: 700;
}
.step-21{
  position: absolute;
  top:10%;
  left: 5.9%;
  font-size: 36px;
  font-weight: 700;
}
.step-22{
  position: absolute;
  top:26.9%;
  left: 5.9%;
  font-size: 36px;
  font-weight: 700;
}
.step-23{
  position: absolute;
  top:44.2%;
  left:5.9%;
  font-size: 36px;
  font-weight: 700;
}
.step-23{
  position: absolute;
  top:44.2%;
  left:5.9%;
  font-size: 36px;
  font-weight: 700;
}
.step-24{
  position: absolute;
  top:60.8%;
  left:5.9%;
  font-size: 36px;
  font-weight: 700;
}

/* --- 最後頁面 --- */
.won-player{
  position: absolute;
  top:-3%;
  left: 48%;
  transform: translateX(-50%);
}
.congratulation-text{
  position: absolute;
  top:10%;
  left: 35%;
  font-size: 120px;
  font-weight: 700;
  z-index: 4;
}
.button-container{
  display: flex;
  justify-content: space-between;
  width: 270px;
  position: absolute;
  top:25%;
  left: 42%;
}

